* {
    font-family: 'JetBrainsMono Nerd Font';
    /* font-family: 'D2CodingLigature Nerd Font'; */
    font-size: 12px;
    font-weight: bold;
    border-radius: 2;
}

window#waybar{
    background-color: transparent;
    /* background-color: #1e2127; */
}

#workspaces button.active {
    color: #1e2127;
    background: #D8DEE9;
}

#workspaces button.empty {
    color: #404142;
}

#workspaces button.urgent {
    color: #E06C75;
}

#custom-archlinux {
    color: #61AFEF;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: white;
}
