* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 12px;
    font-weight: bold;
}

#workspaces button.active {
    color: #1e2127;
    background: #D8DEE9;
}

#workspaces button.empty {
    color: #404142;
}

#workspaces button.urgent {
    color: #E06C75;
}

#custom-archlinux {
    color: #61AFEF;
}
