* {
    /* font-family: 'JetBrainsMono Nerd Font'; */
    font-family: 'D2CodingLigature Nerd Font';
    font-size: 14px;
    font-weight: bold;
    border-radius: 2;
}

window#waybar{
    background-color: transparent
}

#workspaces button.active {
    color: #1e2127;
    background: #D8DEE9;
}

#workspaces button.empty {
    color: #404142;
}

#workspaces button.urgent {
    color: #E06C75;
}

#custom-archlinux {
    color: #61AFEF;
}

