[Unit]
Description=Run delete-tmux-resurrect.service every minute

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
