[Unit]
Description=XRemap input remapping service

[Service]
ExecStart=/usr/bin/xremap --watch=device %h/.config/xremap/config.yaml
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
