[Unit]
After=input-ready.target
Wants=input-ready.target

[Service]
ExecStart=/usr/bin/xremap --watch=device %h/.config/xremap/config.yaml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
