#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=sh -c "cd /home/laznp/Projects/personal/notes; alacritty --class NeoNotes --title NeoNotes -e nvim $@ >/dev/null 2>&1 &"
Name=NeoNotes
Icon=/path/to/icon
