[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/google-chrome-stable --app=https://web.whatsapp.com --profile-directory="Default"
Name=WhatsApp
Icon=/path/to/icon
